<div class='answer_partial'>
  <%= render partial: 'votes/ansnew', locals: {question: answer.question, answer: answer} %>
  <p><%= answer.body %></p>

    <ol>
      <% answer.comments.each do |c| %>
        <li><%= render partial: 'comments/comment', locals: {comment: c} %></li>
      <% end %>
    </ol>

  <%= link_to 'new comment', new_question_answer_comment_path(answer.question, answer)  %>
  <%= link_to 'edit', edit_question_answer_path(answer.question, answer)  %>
  <%= link_to 'delete', answer, method: :delete, data: { confirm: 'sure?'} %>
</div>