<h1>Whack Overflow</h1>

<u class='nav'>
  <% if session[:user_id] %>
    <%= link_to 'Home',  questions_path %>
  <% else %>
    <%= link_to 'Home', new_user_path  %>
  <% end %>
</u>
<% if session[:user_id] %>
	<u class='nav'><%= link_to 'Create a new Question', new_question_path %></u>
  <u class='nav'><%= link_to "Logout", logout_path, method: 'delete' %></u>
<% else %>
  <u class='nav'><%= link_to "Login", login_path %></u>
  <u class='nav'><%= link_to "Sign Up", new_user_path %></u>
<% end %>
